<div class="container">
      <h4>Contact Inquiry List</h4>
    <br />
    <table id="appointments">
      <tr>
        <th>Sn.</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Created At</th>
      </tr>
      <tr *ngFor="let item of datas; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.fullName }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.message }}</td>
        <td>{{ item.timestamp | date : "medium" }}</td>
        <!-- <td>{{ item.timestamp}}</td> -->
  
      </tr>
      <tr *ngIf="!datas.length" colspan="7">
        <td>No data available</td>
      </tr>
    </table>
    <br />
  </div>