<footer class="footer ftco-section ftco-no-pt">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget py-4 py-md-5">
          <h2 class="logo"><a href="#">Health Sync</a></h2>
          <p>Health is Wealth.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget py-4 py-md-5">
          <h2 class="ftco-heading-2">Contact information</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon fa fa-map-marker"></span
                ><span class="text">Seneca College, Markham</span>
              </li>
              <li>
                <a href="#"
                  ><span class="icon fa fa-phone"></span
                  ><span class="text">(+01) 123 456 7890</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved Health Sync
        </p>
      </div>
    </div>
  </div>
</footer>
